/* .Planet {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
  background-color: #747e80;
  color: white;
}

.PlanetInfo {
  box-sizing: border-box;
  margin: auto;
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #2b3e42;
}
.paddingtop {
  padding-top: 3%;
}
.circular--square {
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
} */
